In [407]:
import re
import pandas as pd
df=pd.read_csv('Cardekho_Extract.csv')
df

,Source.Name,web-scraper-order,web-scraper-start-url,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,cardekho_extract(0-2000).csv,1611917819-1662,https://www.cardekho.com/used-car-details/used...,Maruti Alto Std,1.2 Lakh*,NaN,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,cardekho_extract(0-2000).csv,1611918361-1902,https://www.cardekho.com/used-car-details/used...,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,cardekho_extract(0-2000).csv,1611917012-1306,https://www.cardekho.com/used-car-details/used...,Hyundai i20 Asta,2.15 Lakh*,NaN,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,cardekho_extract(0-2000).csv,1611917695-1607,https://www.cardekho.com/used-car-details/used...,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,cardekho_extract(0-2000).csv,1611914861-367,https://www.cardekho.com/used-car-details/used...,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20021,cardekho_extract(5001-10000).csv,1612103494-3517,https://www.cardekho.com/used-car-details/used...,Toyota Platinum Etios 1.4 GXD,6.5 Lakh*,NaN,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,Seats5
20022,cardekho_extract(5001-10000).csv,1612096792-548,https://www.cardekho.com/used-car-details/used...,Maruti Ertiga BSIV VXI,9.25 Lakh*,NaN,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,Seats7
20023,cardekho_extract(5001-10000).csv,1612105576-4445,https://www.cardekho.com/used-car-details/used...,Skoda Rapid 1.5 TDI Elegance,4.25 Lakh*,NaN,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,Seats5
20024,cardekho_extract(5001-10000).csv,1612100458-2178,https://www.cardekho.com/used-car-details/used...,Mahindra XUV500 W6 2WD,12.25 Lakh*,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,Seats7
20025,cardekho_extract(5001-10000).csv,1612098778-1432,https://www.cardekho.com/used-car-details/used...,Honda City i-VTEC CVT VX,12 Lakh*,NaN,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5

In [408]:
new_df=df.drop(['Source.Name','web-scraper-order','web-scraper-start-url'],axis='columns')

In [409]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20021,Toyota Platinum Etios 1.4 GXD,6.5 Lakh*,NaN,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,Seats5
20022,Maruti Ertiga BSIV VXI,9.25 Lakh*,NaN,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,Seats7
20023,Skoda Rapid 1.5 TDI Elegance,4.25 Lakh*,NaN,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,Seats5
20024,Mahindra XUV500 W6 2WD,12.25 Lakh*,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,Seats7
20025,Honda City i-VTEC CVT VX,12 Lakh*,NaN,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5

In [410]:
new_df.shape

(20026, 13)

In [411]:
new_df.dtypes

full_name             object
selling_price         object
new-price             object
year                 float64
seller_type           object
km_driven             object
owner_type            object
fuel_type             object
transmission_type     object
mileage               object
engine                object
max_power             object
seats                 object
dtype: object

In [412]:
df.selling_price

0          1.2 Lakh*
1          5.5 Lakh*
2         2.15 Lakh*
3         2.26 Lakh*
4          5.7 Lakh*
            ...
20021      6.5 Lakh*
20022     9.25 Lakh*
20023     4.25 Lakh*
20024    12.25 Lakh*
20025       12 Lakh*
Name: selling_price, Length: 20026, dtype: object

In [413]:
df['selling_price'].value_counts()

4.5 Lakh*      467
3.5 Lakh*      434
5.5 Lakh*      408
6.5 Lakh*      378
4 Lakh*        359
              ...
1.17 Lakh*       1
10.64 Lakh*      1
14.72 Lakh*      1
4.27 Lakh*       1
4.56 Lakh*       1
Name: selling_price, Length: 1215, dtype: int64

In [414]:
new_df.head(319)

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,NaN,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,NaN,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,NaN,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
314,Honda City i-VTEC ZX,10.5 Lakh*,New Car (On-Road Price) : Rs.13.13-17.45 Lakh*,2017.0,Individual,"50,000 kms",First Owner,Petrol,Manual,Mileage17.14 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5
315,Renault Duster 110PS Diesel RxZ,6 Lakh*,NaN,2016.0,Individual,"90,000 kms",First Owner,Diesel,Manual,Mileage19.6 kmpl,Engine1461 CC,Max Power108.45 bhp,Seats5
316,Fiat Avventura Urban Cross 1.3 Multijet Active,4.78 Lakh*,NaN,2017.0,Individual,"90,000 kms",First Owner,Diesel,Manual,Mileage20.5 kmpl,Engine1248 CC,Max Power91.72 bhp,Seats5
317,Maruti Swift VXI Optional,4.91 Lakh*,New Car (On-Road Price) : Rs.6.35-9.27 Lakh*,2017.0,Dealer,"27,876 kms",First Owner,Petrol,Manual,Mileage20.4 kmpl,Engine1197 CC,Max Power81.80 bhp,Seats5
318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [415]:
new_df['new-price'] = df['new-price'].fillna(0)

In [416]:
new_df.dropna(axis='index',how='any',inplace=True)

In [417]:
for col in new_df.columns:
    print(new_df[col].isnull().sum(),end=" ")

0 0 0 0 0 0 0 0 0 0 0 0 0

In [418]:
new_df.reset_index(inplace=True)

In [419]:
new_df.drop('index',axis='columns',inplace=True)

In [420]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.2 Lakh*,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.5 Lakh*,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15 Lakh*,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26 Lakh*,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.7 Lakh*,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19848,Toyota Platinum Etios 1.4 GXD,6.5 Lakh*,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,Seats5
19849,Maruti Ertiga BSIV VXI,9.25 Lakh*,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,Seats7
19850,Skoda Rapid 1.5 TDI Elegance,4.25 Lakh*,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,Seats5
19851,Mahindra XUV500 W6 2WD,12.25 Lakh*,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,Seats7
19852,Honda City i-VTEC CVT VX,12 Lakh*,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5

In [421]:
new_selling_price_list=[]
for i in range(len(new_df)):
    x=new_df.loc[i][1].split()
    if ',' in x[0]:
        x="".join(x)
        y=x.split(',')
        #print(y)
        y.pop(1)
        z="".join(y)
        #print(z)
        c=(int(z)/100)
        #print(c)
    else:
        z=x[0]
    #print(i,float(z))
    new_df.loc[i][1] = float(z)
    new_selling_price_list.append(float(z))

/Users/chavamanish/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [422]:
len(new_selling_price_list)

19853

In [423]:
new_df['selling_price']=new_selling_price_list

In [424]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,Seats5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,Seats5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,Seats5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,Seats5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,Seats5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19848,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,Seats5
19849,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,Seats7
19850,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,Seats5
19851,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,Seats7
19852,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,Seats5

In [425]:
new_df.dtypes

full_name             object
selling_price        float64
new-price             object
year                 float64
seller_type           object
km_driven             object
owner_type            object
fuel_type             object
transmission_type     object
mileage               object
engine                object
max_power             object
seats                 object
dtype: object

new_df['seats'] = int(re.findall(r'\d+',str(new_df['seats']) )[0])

In [426]:
for i in range(len(new_df)):
    #print(i)
    if 'N/A' in str(new_df.loc[i][12]):
        new_df.drop(i,axis="index",inplace=True)

In [427]:
new_df.reset_index(inplace=True)
new_df.drop('index',axis='columns',inplace=True)

In [428]:
seats_num=[]
for i in range(len(new_df)):
    #print(new_df.loc[0][12])
    no_seats = int(re.findall(r'\d+',str(new_df.loc[i][12]) )[0])
    seats_num.append(int(no_seats))

In [429]:
new_df['seats']=seats_num

In [430]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19847,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,5
19848,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,7
19849,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,5
19850,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,7
19851,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,5

In [431]:
new_df.drop(new_df.index[new_df['engine'] == 'Engine CC'], inplace=True)

In [432]:
new_df.reset_index(inplace=True)
new_df.drop('index',axis='columns',inplace=True)

In [433]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,Engine796 CC,Max Power46.3 bhp,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,Engine1197 CC,Max Power82 bhp,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,Engine1197 CC,Max Power80 bhp,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,Engine998 CC,Max Power67.1 bhp,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,Engine1498 CC,Max Power98.59 bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19845,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,Engine1364 CC,Max Power67.05 bhp,5
19846,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,Engine1373 CC,Max Power91.1 bhp,7
19847,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,Engine1498 CC,Max Power103.52 bhp,5
19848,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,Engine2179 CC,Max Power140 bhp,7
19849,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,Engine1497 CC,Max Power117.6 bhp,5

In [434]:
engine_cc=[]
for i in range(len(new_df)):
    #print(i)
    #print(new_df.loc[0][12])
    arr=new_df.loc[i][10].split(" ")
    #print(arr[0])
    cc = int(re.findall(r'\d+',str(arr[0]) )[0])
    #print(cc)
    engine_cc.append(float(cc))

In [435]:
new_df['engine']=engine_cc

In [436]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,Mileage19.7 kmpl,796.0,Max Power46.3 bhp,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,Mileage18.9 kmpl,1197.0,Max Power82 bhp,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,Mileage17.0 kmpl,1197.0,Max Power80 bhp,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,Mileage20.92 kmpl,998.0,Max Power67.1 bhp,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,Mileage22.77 kmpl,1498.0,Max Power98.59 bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19845,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,Mileage23.59 kmpl,1364.0,Max Power67.05 bhp,5
19846,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,Mileage17.5 kmpl,1373.0,Max Power91.1 bhp,7
19847,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,Mileage21.14 kmpl,1498.0,Max Power103.52 bhp,5
19848,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,Mileage16.0 kmpl,2179.0,Max Power140 bhp,7
19849,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,Mileage18.0 kmpl,1497.0,Max Power117.6 bhp,5

In [437]:
mileage_values=[]
for i in range(len(new_df)):
    #print(i)
    #print(new_df.loc[0][12])
    arr=new_df.loc[i][9].split(" ")
    #print(arr[0])
    mileage = float(re.findall(r'\d+',str(arr[0]) )[0])
   # print(mileage)
    mileage_values.append(mileage)

In [438]:
new_df['mileage'] = mileage_values

In [439]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,"1,20,000 kms",First Owner,Petrol,Manual,19.0,796.0,Max Power46.3 bhp,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,"20,000 kms",First Owner,Petrol,Manual,18.0,1197.0,Max Power82 bhp,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,"60,000 kms",First Owner,Petrol,Manual,17.0,1197.0,Max Power80 bhp,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,"37,000 kms",First Owner,Petrol,Manual,20.0,998.0,Max Power67.1 bhp,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,"30,000 kms",First Owner,Diesel,Manual,22.0,1498.0,Max Power98.59 bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19845,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,"69,480 kms",First Owner,Diesel,Manual,23.0,1364.0,Max Power67.05 bhp,5
19846,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,"18,000 kms",First Owner,Petrol,Manual,17.0,1373.0,Max Power91.1 bhp,7
19847,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,"67,000 kms",First Owner,Diesel,Manual,21.0,1498.0,Max Power103.52 bhp,5
19848,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,"38,00,000 kms",First Owner,Diesel,Manual,16.0,2179.0,Max Power140 bhp,7
19849,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,"13,000 kms",First Owner,Petrol,Automatic,18.0,1497.0,Max Power117.6 bhp,5

In [440]:
km_driven=[]
for i in range(len(new_df)):
    #print(i)
    #print(new_df.loc[0][12])
    arr=new_df.loc[i][5].split(" ")
    #print(arr[0])
    #print(arr[0])
    #print(arr[0].replace(",",""))
    kms=arr[0].replace(",","")
    #kms_values = arr[0].split(",")
    
    #dist = float(re.findall(r'\d+',str(arr[0]) )[0])
    #dist_x = float(re.findall(r'\d+',str(arr[0]) )[1])
    #print(float(kms))
    km_driven.append(float(kms))

In [441]:
new_df.dtypes

full_name             object
selling_price        float64
new-price             object
year                 float64
seller_type           object
km_driven             object
owner_type            object
fuel_type             object
transmission_type     object
mileage              float64
engine               float64
max_power             object
seats                  int64
dtype: object

In [442]:
new_df['km_driven'] = km_driven

In [443]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,120000.0,First Owner,Petrol,Manual,19.0,796.0,Max Power46.3 bhp,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,20000.0,First Owner,Petrol,Manual,18.0,1197.0,Max Power82 bhp,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,60000.0,First Owner,Petrol,Manual,17.0,1197.0,Max Power80 bhp,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,37000.0,First Owner,Petrol,Manual,20.0,998.0,Max Power67.1 bhp,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,30000.0,First Owner,Diesel,Manual,22.0,1498.0,Max Power98.59 bhp,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19845,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,69480.0,First Owner,Diesel,Manual,23.0,1364.0,Max Power67.05 bhp,5
19846,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,18000.0,First Owner,Petrol,Manual,17.0,1373.0,Max Power91.1 bhp,7
19847,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,67000.0,First Owner,Diesel,Manual,21.0,1498.0,Max Power103.52 bhp,5
19848,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,3800000.0,First Owner,Diesel,Manual,16.0,2179.0,Max Power140 bhp,7
19849,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,13000.0,First Owner,Petrol,Automatic,18.0,1497.0,Max Power117.6 bhp,5

bhp="Max Power46.3 bhp"
v=re.findall("\d+\.\d+", bhp)
print(float(v[0]))

In [444]:
new_df.drop(new_df.index[(new_df['max_power'] == 'Max Powernull bhp')], inplace=True)
new_df.drop(new_df.index[(new_df['max_power'] == 'Max Power bhp')], inplace=True)
new_df.reset_index(inplace=True)
new_df.drop('index',axis='columns',inplace=True)

In [445]:
max_power=[]
for i in range(len(new_df)):
    #print(i)
    speed=new_df.loc[i][11].split(" ")
    if '.' in speed[1]:
        power=re.findall("\d+\.\d+", str(speed[1]))
        max_power.append(float(power[0]))
        #print(float(power[0]))
    else:
        power = float(re.findall(r'\d+',str(speed[1]) )[0])
        max_power.append(power)
        #print(p)
        
#print(max_power)

In [446]:
new_df['max_power'] = max_power

In [447]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0,2012.0,Individual,120000.0,First Owner,Petrol,Manual,19.0,796.0,46.30,5
1,Hyundai Grand i10 Asta,5.50,New Car (On-Road Price) : Rs.7.11-7.48 Lakh*,2016.0,Individual,20000.0,First Owner,Petrol,Manual,18.0,1197.0,82.00,5
2,Hyundai i20 Asta,2.15,0,2010.0,Individual,60000.0,First Owner,Petrol,Manual,17.0,1197.0,80.00,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0,2012.0,Individual,37000.0,First Owner,Petrol,Manual,20.0,998.0,67.10,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,New Car (On-Road Price) : Rs.10.14-13.79 Lakh*,2015.0,Dealer,30000.0,First Owner,Diesel,Manual,22.0,1498.0,98.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19626,Toyota Platinum Etios 1.4 GXD,6.50,0,2017.0,Dealer,69480.0,First Owner,Diesel,Manual,23.0,1364.0,67.05,5
19627,Maruti Ertiga BSIV VXI,9.25,0,2019.0,Dealer,18000.0,First Owner,Petrol,Manual,17.0,1373.0,91.10,7
19628,Skoda Rapid 1.5 TDI Elegance,4.25,0,2015.0,Dealer,67000.0,First Owner,Diesel,Manual,21.0,1498.0,103.52,5
19629,Mahindra XUV500 W6 2WD,12.25,New Car (On-Road Price) : Rs.17.83-24.91 Lakh*,2016.0,Dealer,3800000.0,First Owner,Diesel,Manual,16.0,2179.0,140.00,7
19630,Honda City i-VTEC CVT VX,12.00,0,2019.0,Dealer,13000.0,First Owner,Petrol,Automatic,18.0,1497.0,117.60,5

In [448]:
new_df.dtypes

full_name             object
selling_price        float64
new-price             object
year                 float64
seller_type           object
km_driven            float64
owner_type            object
fuel_type             object
transmission_type     object
mileage              float64
engine               float64
max_power            float64
seats                  int64
dtype: object

In [449]:
#New Car (On-Road Price) : Rs.10.14-13.79 Lakh*
new_price_arr=[]
for i in range(len(new_df)):
    #print(i)
    if str(new_df.loc[i][2]) =="0":
        #print(float(new_df.loc[i][2]))
        new_price_arr.append(float(new_df.loc[i][2]))
    else:
        price_string=new_df.loc[i][2].split(":")
        new_price=re.findall("\d+\.\d+",price_string[1])
        #print(float(new_price[0]))
        new_price_arr.append(float(new_price[0]))

In [450]:
new_df['new-price'] = new_price_arr

In [451]:
new_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0.00,2012.0,Individual,120000.0,First Owner,Petrol,Manual,19.0,796.0,46.30,5
1,Hyundai Grand i10 Asta,5.50,7.11,2016.0,Individual,20000.0,First Owner,Petrol,Manual,18.0,1197.0,82.00,5
2,Hyundai i20 Asta,2.15,0.00,2010.0,Individual,60000.0,First Owner,Petrol,Manual,17.0,1197.0,80.00,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0.00,2012.0,Individual,37000.0,First Owner,Petrol,Manual,20.0,998.0,67.10,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,10.14,2015.0,Dealer,30000.0,First Owner,Diesel,Manual,22.0,1498.0,98.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19626,Toyota Platinum Etios 1.4 GXD,6.50,0.00,2017.0,Dealer,69480.0,First Owner,Diesel,Manual,23.0,1364.0,67.05,5
19627,Maruti Ertiga BSIV VXI,9.25,0.00,2019.0,Dealer,18000.0,First Owner,Petrol,Manual,17.0,1373.0,91.10,7
19628,Skoda Rapid 1.5 TDI Elegance,4.25,0.00,2015.0,Dealer,67000.0,First Owner,Diesel,Manual,21.0,1498.0,103.52,5
19629,Mahindra XUV500 W6 2WD,12.25,17.83,2016.0,Dealer,3800000.0,First Owner,Diesel,Manual,16.0,2179.0,140.00,7
19630,Honda City i-VTEC CVT VX,12.00,0.00,2019.0,Dealer,13000.0,First Owner,Petrol,Automatic,18.0,1497.0,117.60,5

In [471]:
new_df.columns

Index(['full_name', 'selling_price', 'new-price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats'],
      dtype='object')

In [472]:
new_df.to_csv('new_Cardekho_dataset.csv',header=['full_name', 'selling_price', 'new-price', 'year', 'seller_type',
       'km_driven', 'owner_type', 'fuel_type', 'transmission_type', 'mileage',
       'engine', 'max_power', 'seats'],index=False)

In [474]:
updated_df=pd.read_csv('new_Cardekho_dataset.csv')
updated_df

,full_name,selling_price,new-price,year,seller_type,km_driven,owner_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto Std,1.20,0.00,2012.0,Individual,120000.0,First Owner,Petrol,Manual,19.0,796.0,46.30,5
1,Hyundai Grand i10 Asta,5.50,7.11,2016.0,Individual,20000.0,First Owner,Petrol,Manual,18.0,1197.0,82.00,5
2,Hyundai i20 Asta,2.15,0.00,2010.0,Individual,60000.0,First Owner,Petrol,Manual,17.0,1197.0,80.00,5
3,Maruti Alto K10 2010-2014 VXI,2.26,0.00,2012.0,Individual,37000.0,First Owner,Petrol,Manual,20.0,998.0,67.10,5
4,Ford Ecosport 2015-2021 1.5 TDCi Titanium BSIV,5.70,10.14,2015.0,Dealer,30000.0,First Owner,Diesel,Manual,22.0,1498.0,98.59,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19626,Toyota Platinum Etios 1.4 GXD,6.50,0.00,2017.0,Dealer,69480.0,First Owner,Diesel,Manual,23.0,1364.0,67.05,5
19627,Maruti Ertiga BSIV VXI,9.25,0.00,2019.0,Dealer,18000.0,First Owner,Petrol,Manual,17.0,1373.0,91.10,7
19628,Skoda Rapid 1.5 TDI Elegance,4.25,0.00,2015.0,Dealer,67000.0,First Owner,Diesel,Manual,21.0,1498.0,103.52,5
19629,Mahindra XUV500 W6 2WD,12.25,17.83,2016.0,Dealer,3800000.0,First Owner,Diesel,Manual,16.0,2179.0,140.00,7
19630,Honda City i-VTEC CVT VX,12.00,0.00,2019.0,Dealer,13000.0,First Owner,Petrol,Automatic,18.0,1497.0,117.60,5